node_modules/
coverage/
dist/
tmp/
.env
src/gen/translate.ts
src/gen/declarations.ts
src/lib/souffle/value_parser.ts
src/lib/souffle/parser/souffle_parser_gen.js
functors/functors.o
functors/libfunctors.so
