node_modules/
coverage/
dist/
tmp/
.env
src/lib/souffle/value_parser.ts
src/lib/souffle/parser/souffle_parser_gen.js
src/lib/souffle/parser/souffle_value_parser_gen.js
src/functors/functors.o
src/functors/libfunctors.so
.vscode
